@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: 300;
    src: local('OpenSans-Light'),
         url('src/fonts/OpenSansLight.woff2') format('woff2');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('OpenSans-Regular'),
         url('src/fonts/OpenSansRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('OpenSans-SemiBold'),
         url('src/fonts/OpenSansSemiBold.woff2') format('woff2');
}